/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Roboto);
@font-face {
  font-family: 'NEOTERIC'
  src: url(neotericc_-_bold_demo_version-webfont.ttf);
}
#header
{
  padding: 20px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: 100;
  padding-left: 60px;
  text-shadow: 4px 3px 3px black;
  text-transform: uppercase;
}
#header ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.5);;
  float: left;
  font-weight:bold;
}
#header li
{
  padding: 10px;
  float:left;
}
#header nav#right
{
  margin-right:10px;
  float:right;
}
.container
{
    margin: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);;
    padding: 10px;
}
a:link
{
  text-decoration:none;
  color: black;
}
a:visited
{
  color: black;
}
body
{
  background:lightblue;
}
.block
{
  border-radius: 20px;
  background:rgba(255, 255, 255, 0.5);;
  float:left;
  margin-bottom: 50px;
}
.blocktext
{
  background:white;
}
#leftblock
{
  margin-left: 100px;
}
#rightblock
{
  margin-top: 20px;
  margin-left:110px;
}
#bottomblock
{
  margin-top:140px;
  margin-left: 120px;
  padding: 30px;
}
#content
{
  background:rgba(255, 255, 255, 0.5);
  margin: 0 17px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  text-align: center;
}
#question
{
  margin-bottom: 20px;
  background: white;
  border-radius: 20px;
  font-weight: bold;
}
#contributors
{
  clear:left;
  background: white;
}

#contributors li
{
    list-style-type: none;
    display:inline;
}
footer
{
  font-family: 'Roboto', sans-serif;
  margin: 10px 17px 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);;
  padding: 20px;
  font-weight: bold;
}
