/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Roboto);
@font-face {
  font-family: 'NEOTERIC'
  src: url(neotericc_-_bold_demo_version-webfont.ttf);
}
#header
{
  padding: 20px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
#logo
{
  width: 7%;
  margin: 1% auto;
  display: block;
}
#page-title {
  font: italic 2em 'Lato', sans-serif;
  color: white;
  text-align: center;
  border: 3px white double;
  width: 25%;
  margin: 0% auto;
}
#greeting {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 25%;
  margin: 1% auto;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: 100;
  padding-left: 60px;
  text-shadow: 4px 3px 3px black;
  text-transform: uppercase;
}
#header ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.5);;
  float: left;
  font-weight:bold;
}
#header li
{
  padding: 10px;
  float:left;
}
.box-link
{
  border: 2px black solid;
}
#box-link-left
{
  border-right: 1px black dotted;
}
#header nav#right
{
  margin-right:10px;
  float:right;
}
.container
{
    margin: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);;
    padding: 10px;
}
a:link
{
  text-decoration:none;
  color: black;
}
a:visited
{
  color: black;
}
html, body
{
  background:lightblue;
  margin: 0px;
}
#bottomblock {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
    border-radius: 1%;
    background:rgba(255, 255, 255, 0.5);
    margin-bottom: 5%;
}
#rightblock {
    float:left;
    width:100%;
    position:relative;
    right:30%;
    background:rgba(255, 255, 255, 0.5);;
}
#leftblock {
    float:left;
    width:100%;
    position:relative;
    right:40%;
    background:rgba(255, 255, 255, 0.5);;
}
#col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}
#step-blocks
{
  width: 80%;
  margin: 0% auto;
}
/*#step-blocks
{
  width: 90%;
  margin: 0% auto;
}
.block
{
  border-radius: 20px;
  background:rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  height: 10%;
  display: inline-block;
  vertical-align: top;
}
.blocktext
{
  background:white;
  margin: 1em;
}
#leftblock
{
  margin-left: 100px;
}
#rightblock
{
  margin: 0% 2%;
  padding: 0% 0.5% 3.5%
}
#category-img
{
  height: 50%;
}
#bottomblock
{
  padding: 0% 3% 10.5%;
  margin: 0% 0%;
}
#video-img
{
  height: 50%;
  margin-top: 30%;
}*/
#time-img
{
  height: 40%;
}
#category-img
{
  height: 40%;
}
#video-img
{
  height: 50%;
  margin-top: 5%;
}
#content
{
  margin: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#question
{
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
}
footer
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1%;
  font-weight: bold;
  width: 100%;
}
