/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Roboto);
#header
{
  padding: 20px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
#logo
{
  width: 7%;
  margin: 1% auto;
  display: block;
}
#page-title {
  font: italic 2em 'Lato', sans-serif;
  color: white;
  text-align: center;
  border: 3px white double;
  width: 25%;
  margin: 0% auto;
}
#greeting {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 25%;
  margin: 1% auto;
}
.container
{
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);;
    padding: 10px;
}
#header ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.5);;
  float: left;
  font-weight:bold;
}
#header li
{
  padding: 10px;
  float:left;
}
.box-link
{
  border: 2px black solid;
}
#box-link-left
{
  border-right: 1px black dotted;
}
#header nav#right
{
  margin-right:10px;
  float:right;
}
a:link
{
  text-decoration:none;
  color: black;
}
a:visited
{
  color: black;
}
body
{
  background: lightblue;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
#message
{
  margin: 0% 4% 0.1%;
}
#result
{
  padding: 5px;
  background: white;
  margin: 0.01% 4%;
}
.video
{
  margin: 0% 2%;
}
input[type="submit"]
{
  margin: 3% 30%;
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;

  background: #abc7d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#3888bd), to(#abc7d9));
  background: -webkit-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -moz-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -ms-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -o-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
  -moz-box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
  box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;

  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type="submit"]:hover
{
  /*
  background: #abc7d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#3888bd), to(#abc7d9));
  background: -webkit-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -moz-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -ms-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
  background: -o-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
   color: #ffffff;
   */

   background: #8eb8d1;
  background-image: -webkit-linear-gradient(top, rgba(139, 180, 204, 0), #f0f0f0);
  background-image: -moz-linear-gradient(top, rgba(139, 180, 204, 0), #f0f0f0);
  background-image: -ms-linear-gradient(top, rgba(139, 180, 204, 0), #f0f0f0);
  background-image: -o-linear-gradient(top, rgba(139, 180, 204, 0), #f0f0f0);
  background-image: linear-gradient(to bottom, rgba(139, 180, 204, 0), #f0f0f0);
  text-shadow: 3px 3px 3px black;
}

input[type = 'submit']:active
{
   border-top-color: #1b435e;
   background: #1b435e;
}

.popup { background: rgba(255, 255, 255, 0); border-radius: 5px; display: none; padding: 10px; position: absolute; width: 800px; z-index: 10; }
.popup a.close { z-index: 999; background: #3ACACA; color: #fff; display: block; font-size: 20px; padding: 2px 9px 4px; position: absolute; right: -5px; top: -15px; border-radius: 25%; }
.video-container { float: left; height: 360px; left: 0; padding-bottom: 5%; padding-top: 25px; position: relative; top: 0; width: 100%; }
.video-container .iframe { float: left; width: 100%; }
.video-container .iframe iframe { float: left; height: 450px; width: 100%; }
.video-container .iframe h2{ font-size:2em; color:#F60; padding-bottom:10px;}
.overlaybg {background: #000; display: none; height: 100%; opacity: 0.7; position: fixed; width: 100%; z-index: 6;}
iframe
{
  float: left;
  width: 100%;
  height: 500px;
}
