/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Roboto);
@font-face {
  font-family: 'NEOTERIC'
  src: url(neotericc_-_bold_demo_version-webfont.ttf);
}
#header
{
  padding: 20px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: 100;
  padding-left: 60px;
  text-shadow: 4px 3px 3px black;
  text-transform: uppercase;
}
.container
{
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);;
    padding: 10px;
}
#header ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgba(255, 255, 255, 0.5);;
  float: left;
  font-weight:bold;
}
#header li
{
  padding: 10px;
  float:left;
}
#header nav#right
{
  margin-right:10px;
  float:right;
}
a:link
{
  text-decoration:none;
  color: black;
}
a:visited
{
  color: black;
}
body
{
  margin: 0;
  background:#181B18;
}
video#bg{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(snow.jpg) no-repeat;*/
    background-size: cover;
}
#body
{
  color: white;
  margin-left: 10%;
}
#body h3
{
  font-size: 60pt;
  margin-left: 22%;
}
#body input
{
  margin-left: 5%;
}
#body input[type="number"]
{
  font-family: 'lato', sans-serif;
  font-weight: 100;
  font-style: italic;
   width:250px;
   height:50px;
   opacity: 0.5;
   font-size: 20pt;
   /*margin-top: 10%;*/
   margin-right:10%;
}
#categories li
{
  list-style-type: none;
  float:left;
  padding: 10px;
  margin-left:120px;
}
#check input[type="checkbox"]
{
  /*display: inline;*/
  float: left;
  margin-left: 175px;
}
#break
{
  clear:both;
}
#body input[type="number"]:hover
{
   opacity: 1;
}
#body input[type="submit"]
{
margin-top: 80px;
margin-left: 33%;
font-family: 'NEOTERIC', sans-serif;
font-weight: bold;
font-size: 50px;

background: #abc7d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#3888bd), to(#abc7d9));
   background: -webkit-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
   background: -moz-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
   background: -ms-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
   background: -o-linear-gradient(top, rgba(56, 136, 189, 0), #abc7d9);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
   -moz-box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
   box-shadow: rgba(255,255,255,0.3) 3px 2px 3px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;

/*
background: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff, #c7c7c7);
background-image: -moz-linear-gradient(top, #ffffff, #c7c7c7);
background-image: -ms-linear-gradient(top, #ffffff, #c7c7c7);
background-image: -o-linear-gradient(top, #ffffff, #c7c7c7);
background-image: linear-gradient(to bottom, #ffffff, #c7c7c7);
-webkit-border-radius: 25;
-moz-border-radius: 25;
border-radius: 25px;

font-family: Arial;
color: #000000;
font-size: 50px;
*/
padding: 10px 20px 10px 20px;
text-decoration: none;
}

#body input[type="submit"]:hover
 {
   /*
  background: #545454;
  background-image: -webkit-linear-gradient(top, #545454, #abbcc7);
  background-image: -moz-linear-gradient(top, #545454, #abbcc7);
  background-image: -ms-linear-gradient(top, #545454, #abbcc7);
  background-image: -o-linear-gradient(top, #545454, #abbcc7);
  background-image: linear-gradient(to bottom, #545454, #abbcc7);
  text-decoration: none;
  */

  border-top-color: #5ba1cf;
   background: #5ba1cf;
   color: #ffffff;
}

#body input[type = 'submit']:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

::-webkit-input-placeholder
{
  font-size: 20pt;

}
