<!DOCTYPE html>
<html>
    <link href="/static/about.css" rel="stylesheet"/>
    <title>
      About
    </title>
    <body>
      <header id ="header">
            <div class ="container">
            <nav id="left">
              <ul class="box-link">
                <li id="box-link-left"><a href ="/">HOME</a></li>
                <li id="box-link-left"><a href ="/saved_videos">SAVED</a></li>
                <li><a href ="/about">ABOUT</a></li>
              </ul>
            </nav>
            <nav id="right">
              <ul class="box-link">
                {% if login_url%}
                <li id="box-link-left"><a href ="{{login_url}}">LOGIN</a></li>
                {% else %}
                <li><a href ="{{logout_url}}">LOGOUT</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
      </header>
    <section id ="content">
        <div id="question">
            <img id="logo" src="/static/favicon.png" alt="Screen logo">
            <h1 id="page-title">
              Screen
            </h1>
            <h1 id="greeting">
              Waste your time ... effectively
            </h1>
      </div>
      <div id="step-blocks">
        <div id="bottomblock" class="block">
          <div id="rightblock" class="block">
            <div id="leftblock" class="block">
              <div id="col1">
                <p class="blocktext">1. Put in the time you have</p>
                <img src="/static/hourglass.png"/ id="time-img">
              </div>
              <div id="col2">
                <p class="blocktext">2. Choose a category</p>
                <img src="/static/category.png"/ id="category-img">
              </div>
              <div id="col3">
                <p class="blocktext">3. Pick a video</p>
                <img src="/static/video.ico" id="video-img"/>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <footer>
    <div id="box">
    Designed and coded by Serena Wang, Sheldon Lau, and Victor Sanchez Gutierrez. Videos provided by the Youtube API.
    </div>
  </footer>
  </body>
</html>
