<!DOCTYPE html>
<html>
<link href="static/style.css" rel="stylesheet">
  <title>Music Pix</title>
  <body>
    <section id ="head">
      <img src ="static/Music-Blog-List-Logo.png" class ="brightness">
      <h1>Music Pix</h1>
    </section>
    <header id ="header">
          <div class ="container">
          <nav id="left">
            <ul>
              <li><a href ="#">UPLOAD</a></li>
              <li><a href ="#">FAVORITES</a></li>
              <li><a href ="#">PROFILE</a></li>
              <li><a href ="#">PLAYLIST</a></li>
            </ul>
          </nav>
          <nav id="right">
            <ul>
              <li><a href ="#">LOGIN</a></li>
              <li><a href ="#">REGISTER</a></li>
            </ul>
          </nav>
        </div>
        <div id = "body">
          <form action="post" method="search">
          <p>Time<input type ="text" name="time"></p>
        </form>
        </div>
    </header>
  </body>
</html>
