<!DOCTYPE html>
<html>
<link href="static/style.css" rel="stylesheet">
  <title>Video Scheduler</title>
  <body>
    <section id ="head">
      <img src ="static/media.png" class ="brightness">
      <h1>Video Scheduler</h1>
    </section>
    <header id ="header">
          <div class ="container">
          <nav id="left">
            <ul>
              <li><a href ="#">SAVED</a></li>
              <li><a href ="#">HOME</a></li>
              <li><a href ="#">PROFILE</a></li>
            </ul>
          </nav>
          <nav id="right">
            <ul>
              <li><a href ="#">LOGIN</a></li>
              <li><a href ="#">LOGOUT</a></li>
            </ul>
          </nav>
        </div>
        <div id = "body">
              <form action="/search" method="post">
               <h3>Time available</h3>
              <input type="number" min="0" max="24" value="hours" placeholder = "hours">
              <input type="number" min="1" max="60" value="minutes" placeholder = "minutes">
              <input type="number" min="1" max="60" value="seconds" placeholder = "seconds">
              <input type="submit" value="Submit">
            </form>
        </div>
    </header>
  </body>
</html>
