<!DOCTYPE html>
<html>
<link href="static/style.css" rel="stylesheet">
  <title>Screen: Waste your time, effectively</title>
  <body>
    <!-- <section id ="head">
      <img src ="static/media.png" class ="brightness">
      <h1>Video Scheduler</h1>
    </section> -->
    <header id ="header">
          <div class ="container">
          <nav id="left">
            <ul class="box-link">
              <li id="box-link-left"><a href ="/saved_videos">SAVED</a></li>
              <li><a href ="/">HOME</a></li>
            </ul>
          </nav>
          <nav id="right">
            <ul class="box-link">
              {% if login_url%}
              <li id="box-link-left"><a href ="{{login_url}}">LOGIN</a></li>
              {% else %}
              <li><a href ="{{logout_url}}">LOGOUT</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </header>
    <video id="bg" loop autoplay poster="/static/main_backgroud.jpg" muted="true">
        <source src={{current_video}} muted="true" type="video/mp4">
    </video>
    <div id="body">
          <form action="/search" method="post">
            <div id="page-title">Screen</div>
            <div id="time-block">
              <input type="number" min="0" max="24" value="hours" placeholder = "HOURS" name="HOURS">
              <input type="number" min="1" max="60" value="minutes" placeholder = "MINUTES" name="MINUTES">
              <input type="number" min="1" max="60" value="seconds" placeholder = "SECONDS" name="SECONDS"><br>
            </div>
              <div id="checkbox-block">
                <input type="checkbox" value="Comedy" name="genre"> <p> Comedy </p>
                <input type="checkbox" value="Music" name="genre"> <p> Music </p>
                <input type="checkbox" value="Inspirational" name="genre"> <p> Inspirational </p>
                <input type="checkbox" value="Gaming" name="genre"> <p> Gaming </p>
                <input type="checkbox" value="News" name="genre"> <p> News </p>
                <input type="checkbox" value="Food" name="genre"> <p> Food </p>
                <input type="checkbox" value="Travel" name="genre"> <p> Travel </p>
                <input type="checkbox" value="Fitness" name="genre"> <p> Fitness </p>
                <input type="checkbox" value="Animation" name="genre"> <p> Animation </p>
                <input type="checkbox" value="Beauty" name="genre"> <p> Beauty </p>
                <br>
                <input type="submit" value="Find Me Videos!">
              </div>
        </form>
      </div>
  </body>
</html>
